<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>

    <div>
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("No Interface", "Index", "NoInterface")
        @Html.ActionLink("With Interface", "Index", "Interfaced")
    </div>

    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
